@answer-button-margin: 5px;
@answer-button-size: 65px;
@answer-button-calc-size: @answer-button-margin + @answer-button-size;
body {
  background-color: #0097A7;
  padding: 0;
}

.header {
  position: fixed;
  background-color: #0097A7;
  height: 50px;
  top: 0;
  width: 100%;
  z-index: 100;
}

.app-container {
  margin: 0 auto;
  position: relative;
  max-width: 800px;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  //overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.grid-container {
  max-width: @answer-button-calc-size * 11;
}

.grid-btn {
  width: @answer-button-size;
  margin: @answer-button-margin;
}

.modal-header {
  color: white;
  text-align: center;
  background-color: #00BCD4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}

.modal-body {
  color: white;
  padding-top: 10px;
  background-color: #0097A7;
}

.modal-footer {
  text-align: center;
  color: white;
  background-color: #0097A7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}

.name-input {
  background-color: white;
  color: #768d87;
  width: 200px;

}

.name-btn {
  width: 200px;
}

.fixed-width {
  width: 125px;
}

.standard-btn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  /* top | right | bottom | left */
  padding: 11px 9px 11px 8px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  &.disabled {
    color: #aaaaaa;
    opacity: 0.9;
  }
  &.pulsating {
    .keyframes(fade-in; { 0% {
      background-color: #768d87;
      //box-shadow: 0 0 9px #91b8b3;
    } 50% {
        background-color: #91b8b3;
        //box-shadow: 0 0 18px #B2EBF2;
      } 100% {
          background-color: #768d87;
          //box-shadow: 0 0 9px #91b8b3;
        } });
    .animation(fade-in 2.0s linear infinite alternate)
  }
}

.standard-btn:hover {
  background-color: #6c7c7c;
}

.standard-btn:active {
  position: relative;
  top: 1px;
}

.disabled-btn {
  background: #aaa;
  color: #555;
  border-style: none;
}

.history-container {
  height: 200px;
  width: 200px;
  text-align: center;
  clear: both;
}

.history-item {
  font-size: 2em;
  &.ok {
    animation: entry .2s;
    color: #B2EBF2;
  }
  &.wrong {
    animation: entry .2s;
    color: #1B1F5F;
  }
}

.start-header {
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}
.header-text {
  max-width: 60%;
}
.header-star-text {
  white-space: nowrap;
  max-width: 60%;
}

.table-container {
  /* top | right | bottom | left */
  margin: 0 10px 10px 10px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #00BCD4;
  padding: 15px;
  width: auto;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.challenge-container {
  position: relative;
  padding: 0;
  width: auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.problem-text {
  color: #B2EBF2;
  font-size: 4em;
}

.star {
  color: #555;
  &.filled {
    color: yellow;
  }
}

.star-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-star {
  color: yellow;
  font-size: 8.2em;
  animation: zoomIn 2000ms infinite ease;
}

@keyframes zoomIn {
  from {
    opacity: 0.5;
    transform: scale3d(.5, .5, .5);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0.5;
    transform: scale3d(.5, .5, .5);
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.back-btn {
}

.restart-btn {
}

@keyframes entry {
  0% {
    transform: scale(2.0);
  }
  100% {
    transform: scale(1.0);
  }
}

.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments();
  }
  @-webkit-keyframes @name { @arguments();
  }
  @keyframes @name { @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

.credits {
  position: relative;
  //margin-left: 40%;
  //margin-top: 90%;
  margin: 50px auto;
  line-height: 90%;
  padding: 5px;
  width: 170px;
  height: 110px;
  text-align: center;
  border-radius: 10px;
  background-color: #00BCD4;
  font-size: 15px;
  color: #B2EBF2;
}

.barn {
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease;
}
